public/downloads/case-studies/email-ice-breaker/blueprint.json
{
    "name": "Automated Email Ice-breaker",
    "flow": [
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3082325
            },
            "mapper": {
                "from": "share",
                "limit": "1000",
                "filter": [
                    [
                        {
                            "a": "M",
                            "o": "notexist"
                        },
                        {
                            "a": "N",
                            "o": "notexist"
                        }
                    ]
                ],
                "sheetId": "Data",
                "sortOrder": "asc",
                "spreadsheetId": "1n6DAEIbqZAMivyCff4rE_e18rua_Y5dj3vVqKpYN9ds",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Get Leads"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from all"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Data"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "rpcSearch": {
                                "label": "{TEST} apolloScrape - 08.19.2025 - salons",
                                "value": "1n6DAEIbqZAMivyCff4rE_e18rua_Y5dj3vVqKpYN9ds"
                            }
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (lalia@rsla.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "firstName (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "lastName (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "email (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "personalEmail (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "headline (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "companyName (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "companyWebsite (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "linkedinURL (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "industry (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "companyShortDescription (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "companyLinkedinURL (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "companyAddress (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "personalization (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "2.shortenedCompanyName (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "icbreaker (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "shortenedCompanyName (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3706752
            },
            "mapper": {
                "model": "gpt-4.1-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a helpful, intelligent writing assistant."
                    },
                    {
                        "role": "user",
                        "content": "Your task is to take, as input, a bunch of information about a prospect, and then generate a customized, one-line email icebreaker to imply that the rest of my communique is personalized.\n\nYou'll return your icebreakers in the following JSON format:\n\n{\"verdict\":\"true or false, string\",\"icebreaker\":\"Hey {firstName}. Love {thing}—{personalization}. Wanted to run something by you.\", \"shortenedCompanyName\":\"Shortened version of company name (more on this in a moment)\"}\n\nRules:\n- Write in a spartan/laconic tone of voice.\n- Make sure to use the above format when constructing your icebreakers.\n- Sometimes, the data provided will not be of a person. Instead, it will be of a company. If this is the case, return a \"false\" string for \"verdict\"\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc.\", etc.\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.",
                        "imageDetail": "auto"
                    },
                    {
                        "role": "user",
                        "content": "Aina Rakotoarinaly, CEO founder - Maki Agency / Ti'bouffe, Maki agency, outsourcing/offshoring, Antananarivo, Madagascar",
                        "imageDetail": "auto"
                    },
                    {
                        "role": "assistant",
                        "content": "{\"verdict\":\"true\",\"icebreaker\":\"Hey Aina,\\n\\nLove what you're doing at Maki. Also doing some outsourcing right now, wanted to run something by you.\",\"shortenedCompanyName\":\"Maki\"}"
                    },
                    {
                        "role": "user",
                        "content": "Adam Greenwood, Visionary Agency Leader | Digital Strategy & AI | Middle East, UK & Global Markets, the human tech agency, information technology & services, Dubai, United Arab Emirates",
                        "imageDetail": "auto"
                    },
                    {
                        "role": "assistant",
                        "content": "{\"verdict\":\"true\",\"icebreaker\":\"Hey Adam,\\n\\nLove what you're doing at the human tech agency (branding in particular is fantastic). Just getting an agency off the ground, wanted to run something by you.\",\"shortenedCompanyName\":\"the human tech agency\"}"
                    },
                    {
                        "role": "user",
                        "content": "{{2.`0`}} {{2.`1`}}, {{2.`2`}}, {{2.`3`}}, {{2.`4`}}, {{2.`5`}}, {{2.`6`}}\n\n{{2.`0`}}\n{{2.`1`}}\n{{2.`4`}}\n{{2.`5`}}\n{{2.`9`}}{{2.`2`}}{{2.`3`}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "0.5",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Generate Icebreaker"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4.1-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    },
                                    "tool_calls": {
                                        "mode": "edit"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    },
                                    "tool_calls": {
                                        "mode": "edit"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3082325
            },
            "mapper": {
                "mode": "fromAll",
                "values": {
                    "12": "{{3.result.icebreaker}}",
                    "13": "{{3.result.shortenedCompanyName}}"
                },
                "sheetId": "{{2.`__SHEET__`}}",
                "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                "spreadsheetId": "1n6DAEIbqZAMivyCff4rE_e18rua_Y5dj3vVqKpYN9ds",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Update with Icebreaker"
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "sheetId": {
                            "mode": "edit"
                        },
                        "spreadsheetId": {
                            "rpcSearch": {
                                "label": "{TEST} apolloScrape - 08.19.2025 - salons",
                                "value": "1n6DAEIbqZAMivyCff4rE_e18rua_Y5dj3vVqKpYN9ds"
                            }
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "AA"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "AB"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "AC"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "AD"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "AE"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "AF"
                                        },
                                        {
                                            "name": "32",
                                            "type": "text",
                                            "label": "AG"
                                        },
                                        {
                                            "name": "33",
                                            "type": "text",
                                            "label": "AH"
                                        },
                                        {
                                            "name": "34",
                                            "type": "text",
                                            "label": "AI"
                                        },
                                        {
                                            "name": "35",
                                            "type": "text",
                                            "label": "AJ"
                                        },
                                        {
                                            "name": "36",
                                            "type": "text",
                                            "label": "AK"
                                        },
                                        {
                                            "name": "37",
                                            "type": "text",
                                            "label": "AL"
                                        },
                                        {
                                            "name": "38",
                                            "type": "text",
                                            "label": "AM"
                                        },
                                        {
                                            "name": "39",
                                            "type": "text",
                                            "label": "AN"
                                        },
                                        {
                                            "name": "40",
                                            "type": "text",
                                            "label": "AO"
                                        },
                                        {
                                            "name": "41",
                                            "type": "text",
                                            "label": "AP"
                                        },
                                        {
                                            "name": "42",
                                            "type": "text",
                                            "label": "AQ"
                                        },
                                        {
                                            "name": "43",
                                            "type": "text",
                                            "label": "AR"
                                        },
                                        {
                                            "name": "44",
                                            "type": "text",
                                            "label": "AS"
                                        },
                                        {
                                            "name": "45",
                                            "type": "text",
                                            "label": "AT"
                                        },
                                        {
                                            "name": "46",
                                            "type": "text",
                                            "label": "AU"
                                        },
                                        {
                                            "name": "47",
                                            "type": "text",
                                            "label": "AV"
                                        },
                                        {
                                            "name": "48",
                                            "type": "text",
                                            "label": "AW"
                                        },
                                        {
                                            "name": "49",
                                            "type": "text",
                                            "label": "AX"
                                        },
                                        {
                                            "name": "50",
                                            "type": "text",
                                            "label": "AY"
                                        },
                                        {
                                            "name": "51",
                                            "type": "text",
                                            "label": "AZ"
                                        },
                                        {
                                            "name": "52",
                                            "type": "text",
                                            "label": "BA"
                                        },
                                        {
                                            "name": "53",
                                            "type": "text",
                                            "label": "BB"
                                        },
                                        {
                                            "name": "54",
                                            "type": "text",
                                            "label": "BC"
                                        },
                                        {
                                            "name": "55",
                                            "type": "text",
                                            "label": "BD"
                                        },
                                        {
                                            "name": "56",
                                            "type": "text",
                                            "label": "BE"
                                        },
                                        {
                                            "name": "57",
                                            "type": "text",
                                            "label": "BF"
                                        },
                                        {
                                            "name": "58",
                                            "type": "text",
                                            "label": "BG"
                                        },
                                        {
                                            "name": "59",
                                            "type": "text",
                                            "label": "BH"
                                        },
                                        {
                                            "name": "60",
                                            "type": "text",
                                            "label": "BI"
                                        },
                                        {
                                            "name": "61",
                                            "type": "text",
                                            "label": "BJ"
                                        },
                                        {
                                            "name": "62",
                                            "type": "text",
                                            "label": "BK"
                                        },
                                        {
                                            "name": "63",
                                            "type": "text",
                                            "label": "BL"
                                        },
                                        {
                                            "name": "64",
                                            "type": "text",
                                            "label": "BM"
                                        },
                                        {
                                            "name": "65",
                                            "type": "text",
                                            "label": "BN"
                                        },
                                        {
                                            "name": "66",
                                            "type": "text",
                                            "label": "BO"
                                        },
                                        {
                                            "name": "67",
                                            "type": "text",
                                            "label": "BP"
                                        },
                                        {
                                            "name": "68",
                                            "type": "text",
                                            "label": "BQ"
                                        },
                                        {
                                            "name": "69",
                                            "type": "text",
                                            "label": "BR"
                                        },
                                        {
                                            "name": "70",
                                            "type": "text",
                                            "label": "BS"
                                        },
                                        {
                                            "name": "71",
                                            "type": "text",
                                            "label": "BT"
                                        },
                                        {
                                            "name": "72",
                                            "type": "text",
                                            "label": "BU"
                                        },
                                        {
                                            "name": "73",
                                            "type": "text",
                                            "label": "BV"
                                        },
                                        {
                                            "name": "74",
                                            "type": "text",
                                            "label": "BW"
                                        },
                                        {
                                            "name": "75",
                                            "type": "text",
                                            "label": "BX"
                                        },
                                        {
                                            "name": "76",
                                            "type": "text",
                                            "label": "BY"
                                        },
                                        {
                                            "name": "77",
                                            "type": "text",
                                            "label": "BZ"
                                        },
                                        {
                                            "name": "78",
                                            "type": "text",
                                            "label": "CA"
                                        },
                                        {
                                            "name": "79",
                                            "type": "text",
                                            "label": "CB"
                                        },
                                        {
                                            "name": "80",
                                            "type": "text",
                                            "label": "CC"
                                        },
                                        {
                                            "name": "81",
                                            "type": "text",
                                            "label": "CD"
                                        },
                                        {
                                            "name": "82",
                                            "type": "text",
                                            "label": "CE"
                                        },
                                        {
                                            "name": "83",
                                            "type": "text",
                                            "label": "CF"
                                        },
                                        {
                                            "name": "84",
                                            "type": "text",
                                            "label": "CG"
                                        },
                                        {
                                            "name": "85",
                                            "type": "text",
                                            "label": "CH"
                                        },
                                        {
                                            "name": "86",
                                            "type": "text",
                                            "label": "CI"
                                        },
                                        {
                                            "name": "87",
                                            "type": "text",
                                            "label": "CJ"
                                        },
                                        {
                                            "name": "88",
                                            "type": "text",
                                            "label": "CK"
                                        },
                                        {
                                            "name": "89",
                                            "type": "text",
                                            "label": "CL"
                                        },
                                        {
                                            "name": "90",
                                            "type": "text",
                                            "label": "CM"
                                        },
                                        {
                                            "name": "91",
                                            "type": "text",
                                            "label": "CN"
                                        },
                                        {
                                            "name": "92",
                                            "type": "text",
                                            "label": "CO"
                                        },
                                        {
                                            "name": "93",
                                            "type": "text",
                                            "label": "CP"
                                        },
                                        {
                                            "name": "94",
                                            "type": "text",
                                            "label": "CQ"
                                        },
                                        {
                                            "name": "95",
                                            "type": "text",
                                            "label": "CR"
                                        },
                                        {
                                            "name": "96",
                                            "type": "text",
                                            "label": "CS"
                                        },
                                        {
                                            "name": "97",
                                            "type": "text",
                                            "label": "CT"
                                        },
                                        {
                                            "name": "98",
                                            "type": "text",
                                            "label": "CU"
                                        },
                                        {
                                            "name": "99",
                                            "type": "text",
                                            "label": "CV"
                                        },
                                        {
                                            "name": "100",
                                            "type": "text",
                                            "label": "CW"
                                        },
                                        {
                                            "name": "101",
                                            "type": "text",
                                            "label": "CX"
                                        },
                                        {
                                            "name": "102",
                                            "type": "text",
                                            "label": "CY"
                                        },
                                        {
                                            "name": "103",
                                            "type": "text",
                                            "label": "CZ"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (lalia@rsla.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "AA"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "AB"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "AC"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "AD"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "AE"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "AF"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "AG"
                            },
                            {
                                "name": "33",
                                "type": "text",
                                "label": "AH"
                            },
                            {
                                "name": "34",
                                "type": "text",
                                "label": "AI"
                            },
                            {
                                "name": "35",
                                "type": "text",
                                "label": "AJ"
                            },
                            {
                                "name": "36",
                                "type": "text",
                                "label": "AK"
                            },
                            {
                                "name": "37",
                                "type": "text",
                                "label": "AL"
                            },
                            {
                                "name": "38",
                                "type": "text",
                                "label": "AM"
                            },
                            {
                                "name": "39",
                                "type": "text",
                                "label": "AN"
                            },
                            {
                                "name": "40",
                                "type": "text",
                                "label": "AO"
                            },
                            {
                                "name": "41",
                                "type": "text",
                                "label": "AP"
                            },
                            {
                                "name": "42",
                                "type": "text",
                                "label": "AQ"
                            },
                            {
                                "name": "43",
                                "type": "text",
                                "label": "AR"
                            },
                            {
                                "name": "44",
                                "type": "text",
                                "label": "AS"
                            },
                            {
                                "name": "45",
                                "type": "text",
                                "label": "AT"
                            },
                            {
                                "name": "46",
                                "type": "text",
                                "label": "AU"
                            },
                            {
                                "name": "47",
                                "type": "text",
                                "label": "AV"
                            },
                            {
                                "name": "48",
                                "type": "text",
                                "label": "AW"
                            },
                            {
                                "name": "49",
                                "type": "text",
                                "label": "AX"
                            },
                            {
                                "name": "50",
                                "type": "text",
                                "label": "AY"
                            },
                            {
                                "name": "51",
                                "type": "text",
                                "label": "AZ"
                            },
                            {
                                "name": "52",
                                "type": "text",
                                "label": "BA"
                            },
                            {
                                "name": "53",
                                "type": "text",
                                "label": "BB"
                            },
                            {
                                "name": "54",
                                "type": "text",
                                "label": "BC"
                            },
                            {
                                "name": "55",
                                "type": "text",
                                "label": "BD"
                            },
                            {
                                "name": "56",
                                "type": "text",
                                "label": "BE"
                            },
                            {
                                "name": "57",
                                "type": "text",
                                "label": "BF"
                            },
                            {
                                "name": "58",
                                "type": "text",
                                "label": "BG"
                            },
                            {
                                "name": "59",
                                "type": "text",
                                "label": "BH"
                            },
                            {
                                "name": "60",
                                "type": "text",
                                "label": "BI"
                            },
                            {
                                "name": "61",
                                "type": "text",
                                "label": "BJ"
                            },
                            {
                                "name": "62",
                                "type": "text",
                                "label": "BK"
                            },
                            {
                                "name": "63",
                                "type": "text",
                                "label": "BL"
                            },
                            {
                                "name": "64",
                                "type": "text",
                                "label": "BM"
                            },
                            {
                                "name": "65",
                                "type": "text",
                                "label": "BN"
                            },
                            {
                                "name": "66",
                                "type": "text",
                                "label": "BO"
                            },
                            {
                                "name": "67",
                                "type": "text",
                                "label": "BP"
                            },
                            {
                                "name": "68",
                                "type": "text",
                                "label": "BQ"
                            },
                            {
                                "name": "69",
                                "type": "text",
                                "label": "BR"
                            },
                            {
                                "name": "70",
                                "type": "text",
                                "label": "BS"
                            },
                            {
                                "name": "71",
                                "type": "text",
                                "label": "BT"
                            },
                            {
                                "name": "72",
                                "type": "text",
                                "label": "BU"
                            },
                            {
                                "name": "73",
                                "type": "text",
                                "label": "BV"
                            },
                            {
                                "name": "74",
                                "type": "text",
                                "label": "BW"
                            },
                            {
                                "name": "75",
                                "type": "text",
                                "label": "BX"
                            },
                            {
                                "name": "76",
                                "type": "text",
                                "label": "BY"
                            },
                            {
                                "name": "77",
                                "type": "text",
                                "label": "BZ"
                            },
                            {
                                "name": "78",
                                "type": "text",
                                "label": "CA"
                            },
                            {
                                "name": "79",
                                "type": "text",
                                "label": "CB"
                            },
                            {
                                "name": "80",
                                "type": "text",
                                "label": "CC"
                            },
                            {
                                "name": "81",
                                "type": "text",
                                "label": "CD"
                            },
                            {
                                "name": "82",
                                "type": "text",
                                "label": "CE"
                            },
                            {
                                "name": "83",
                                "type": "text",
                                "label": "CF"
                            },
                            {
                                "name": "84",
                                "type": "text",
                                "label": "CG"
                            },
                            {
                                "name": "85",
                                "type": "text",
                                "label": "CH"
                            },
                            {
                                "name": "86",
                                "type": "text",
                                "label": "CI"
                            },
                            {
                                "name": "87",
                                "type": "text",
                                "label": "CJ"
                            },
                            {
                                "name": "88",
                                "type": "text",
                                "label": "CK"
                            },
                            {
                                "name": "89",
                                "type": "text",
                                "label": "CL"
                            },
                            {
                                "name": "90",
                                "type": "text",
                                "label": "CM"
                            },
                            {
                                "name": "91",
                                "type": "text",
                                "label": "CN"
                            },
                            {
                                "name": "92",
                                "type": "text",
                                "label": "CO"
                            },
                            {
                                "name": "93",
                                "type": "text",
                                "label": "CP"
                            },
                            {
                                "name": "94",
                                "type": "text",
                                "label": "CQ"
                            },
                            {
                                "name": "95",
                                "type": "text",
                                "label": "CR"
                            },
                            {
                                "name": "96",
                                "type": "text",
                                "label": "CS"
                            },
                            {
                                "name": "97",
                                "type": "text",
                                "label": "CT"
                            },
                            {
                                "name": "98",
                                "type": "text",
                                "label": "CU"
                            },
                            {
                                "name": "99",
                                "type": "text",
                                "label": "CV"
                            },
                            {
                                "name": "100",
                                "type": "text",
                                "label": "CW"
                            },
                            {
                                "name": "101",
                                "type": "text",
                                "label": "CX"
                            },
                            {
                                "name": "102",
                                "type": "text",
                                "label": "CY"
                            },
                            {
                                "name": "103",
                                "type": "text",
                                "label": "CZ"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}