public/downloads/case-studies/email-autoresponder/blueprint.json
{
    "name": "Integration Email",
    "flow": [
        {
            "id": 1,
            "module": "email:TriggerNewEmail",
            "version": 7,
            "parameters": {
                "account": 2173139,
                "criteria": "ALL",
                "from": "nick@leftclick.ai",
                "to": "",
                "subject": "New Lead Notification Example",
                "text": "",
                "markSeen": false,
                "maxResults": 1,
                "folder": "INBOX"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "nick@1secondcopy.com (Feb 17 2024) (nick@1secondcopy.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        },
                        "criteria": {
                            "label": "All emails"
                        },
                        "folder": {
                            "path": [
                                "INBOX"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "ALL",
                                "SEEN",
                                "UNSEEN"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "to",
                        "type": "email",
                        "label": "Recipient email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Phrase"
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark message(s) as read when fetched"
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 634823
            },
            "mapper": {
                "select": "chat",
                "temperature": "0.7",
                "response_format": "text",
                "model": "gpt-4",
                "messages": [
                    {
                        "role": "system",
                        "content": "You're an intelligent email responding assistant."
                    },
                    {
                        "role": "user",
                        "content": "You're currently monitoring a sales email inbox for my high-ticket coaching offer. For every inquiry you receive, digest it and respond appropriately with a customized message that's tuned to the particular prospect. Make sure to use spartan, no-frills language."
                    },
                    {
                        "role": "user",
                        "content": "Name: Michael JacksonType: High-TicketMonthly Commitment: $8,000About: Hi I really want to get started on your high tickey monthly e-commerce offer - let me know how to start!"
                    },
                    {
                        "role": "assistant",
                        "content": "Hey Michael,\n\nNick here. Thanks for reaching out & I appreciate your interest in my high ticket e-commerce offer. Happy to help you get started!\n\nI just let someone on my team know about this & they'll give you a call in a couple of minutes to dive into detail. Looking forward to working with you.\n\nCheers,\nNick"
                    },
                    {
                        "role": "user",
                        "content": "{{1.text}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 294,
                    "y": 3,
                    "name": "Write Customized Reply"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "1SecondCopy",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": [
                            {
                                "name": "token",
                                "type": "text",
                                "label": "Token",
                                "required": true
                            },
                            {
                                "name": "probability",
                                "type": "number",
                                "label": "Probability",
                                "required": true,
                                "validate": {
                                    "max": 100,
                                    "min": -100
                                }
                            }
                        ]
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Parameter Name",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Input Type",
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Parameter Value"
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "boolean",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Date",
                                        "value": "date",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "date",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Any",
                                        "value": "any",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Message Content"
                            }
                        ]
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 634823
            },
            "mapper": {
                "select": "chat",
                "temperature": "0.7",
                "response_format": "text",
                "model": "gpt-4",
                "messages": [
                    {
                        "role": "system",
                        "content": "You're an intelligent email responding assistant."
                    },
                    {
                        "role": "user",
                        "content": "Extract the email from the following text."
                    },
                    {
                        "role": "user",
                        "content": "Name: Michael JacksonType: High-TicketMonthly Commitment: $8,000About: Hi I really want to get started on your high tickey monthly e-commerce offer - let me know how to start!Email: michaeljacks293@gmail.com"
                    },
                    {
                        "role": "assistant",
                        "content": "michaeljacks293@gmail.com"
                    },
                    {
                        "role": "user",
                        "content": "{{1.text}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 614,
                    "y": 5,
                    "name": "Extract Email Address"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "1SecondCopy",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": [
                            {
                                "name": "token",
                                "type": "text",
                                "label": "Token",
                                "required": true
                            },
                            {
                                "name": "probability",
                                "type": "number",
                                "label": "Probability",
                                "required": true,
                                "validate": {
                                    "max": 100,
                                    "min": -100
                                }
                            }
                        ]
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Parameter Name",
                                "required": true
                            },
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Input Type",
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "text",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Parameter Value"
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "number",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "boolean",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Date",
                                        "value": "date",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "date",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Any",
                                        "value": "any",
                                        "nested": [
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Parameter Value"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "System",
                                        "value": "system"
                                    },
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Message Content"
                            }
                        ]
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "90"
            },
            "metadata": {
                "designer": {
                    "x": 930,
                    "y": 3
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "validate": {
                            "min": 1,
                            "max": 300
                        },
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 2173139,
                "saveAfterSent": true,
                "accountImap": 2173139,
                "folder": "[Gmail]/Sent Mail"
            },
            "mapper": {
                "to": [
                    "{{5.choices[].message.content}}"
                ],
                "subject": "Email received—talk to you soon",
                "contentType": "text",
                "attachments": [],
                "cc": [],
                "bcc": [],
                "from": "",
                "sender": "",
                "replyTo": "",
                "inReplyTo": "",
                "references": [],
                "priority": "normal",
                "headers": [],
                "text": "{{2.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1244,
                    "y": 4
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "nick@1secondcopy.com (Feb 17 2024) (nick@1secondcopy.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        },
                        "saveAfterSent": {
                            "label": "Yes"
                        },
                        "accountImap": {
                            "label": "nick@1secondcopy.com (Feb 17 2024) (nick@1secondcopy.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        },
                        "folder": {
                            "label": "Sent Mail"
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Plaintext"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "accountImap",
                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "type": "array",
                        "label": "References",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}